<!-- <link rel="stylesheet" href="/src/css/output.css"> -->

<div class="py-16 h-full">
    <h1 class="text-white text-4xl font-bold text-center">About Us</h1>

    <div class="about-content grid mt-24 lg:mt-16 mx-5 lg:mx-24 space-y-20 lg:space-y-10">
        <div class="part01 space-y-10 lg:grid lg:grid-cols-2 lg:items-center">
            <div class="text-part space-y-5">
                <h2 class="text-white font-bold text-2xl">What is DevSphere?</h2>
                <p class="text-[#BFBFBE] text-lg">DevSphere is a welcoming community for all students at Biratnagar International College who are pursuing computer-related courses. Whether you're just starting or have experience, DevSphere is a place for everyone to come together, learn, and grow. We believe in an equal and supportive environment where students can share knowledge, help each other, and explore new ideas.</p>
            </div>

            <div class="image-part flex justify-center">
                <img class="w-96" src="/src/assets/undraw_static_assets_rpm6 1.svg" alt="Code">
            </div>
        </div>

        <div class="part02 space-y-10 lg:grid lg:grid-cols-2 lg:items-center">
            <div class="text-part space-y-5 lg:order-2">
                <h2 class="text-white font-bold text-2xl">Our Goal:</h2>
                <p class="text-[#BFBFBE] text-lg">At DevSphere, our goal is to foster a collaborative learning environment. We aim to host regular events, workshops, and hackathons that provide valuable learning experiences and help students develop practical skills. Through these activities, we encourage everyone to support each other, gain hands-on experience, and build confidence in their abilities.</p>
            </div>

            <div class="image-part flex justify-center lg:order-1">
                <img class="w-96" src="/src/assets/image 14.svg" alt="Goal">
            </div>
        </div>

        <div class="part03 space-y-10 lg:grid lg:grid-cols-2 lg:items-center">
            <div class="text-part space-y-5">
                <h2 class="text-white font-bold text-2xl">Long-Term Vision</h2>
                <p class="text-[#BFBFBE] text-lg">Our long-term vision is to become a nationally recognized student-led tech community that empowers students from all colleges to develop their skills and achieve their potential. We aim to create an inclusive environment that fosters collaboration, innovation, and hands-on learning through events like workshops, hackathons, and mentorship programs.</p>
            </div>

            <div class="image-part flex justify-center">
                <img class="w-96" src="/src/assets/image 15.svg" alt="Vision">
            </div>
        </div>
    </div>
</div>